

/* color styling */








/* Style the section */
.section {
  flex: 1; 
  padding: 20px;
}

.message{
  flex: 1; 
  padding: 20px; 
  
}

.office{
  flex: 1;
  padding: 20px; 

}
/* form */

form {
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;

}

label {
  font-weight: bold;
  color:#b48291;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b48291;
  border-radius: 3px;
}

textarea {
  height: 150px;
  resize: vertical;
}

input[type="submit"] {
  background-color:#cb958e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 150px;
}

input[type="submit"]:hover {
  background-color: #55b1c6;
}

/* Add margin-bottom to the main container to create space above the footer */
.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 70px; 
}
/* cards */
.card-container {
  flex: 1;
  position: absolute;
  top: 480px; 
  left: 1300px; 
  padding: 20px;
}


.card-title{
  color:white;
}

.card-container .card {
  width: 400px;
  border: 1px solid #b48291;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  height: auto; 
}

/* Card header for the top part */
.card-container .card .card-header {
  background-color: #b48291;
  color: #fff;
  padding: 10px;
  height: 50px;
}

/* Modify the card content */
.card-container .card-content {
  padding: 20px;
  overflow: auto; 
  max-height: 100%;
}
a {
  text-decoration: none;
}
.phone-number,.email-address {
  color: #a27784; 
  font-weight: bold; 
  font-size: 18px; 
  
}

.phone-icon, .fab.fa-whatsapp, .fas.fa-envelope, .fas.fa-phone{
  font-size: 18px; 
  margin-right: 5px; 
  color: #8b8b8a;
}

.image-container {
  position: relative;
  width: 100%; 
  max-height: 300px; 
  overflow: hidden; 
  
}

/* Style for the image */
.image-container img {
  object-fit: cover; 
  height: 300px;
  width: 2000px;
}

/* Style for the text overlay */
.text-overlay {
  position: absolute; 
  top: 50%; 
  left: 22%; 
  transform: translate(-50%, -50%); 
  color: white; 
  padding: 10px; 
  text-align: left; 
  padding-left: 100px;
 
}



/* Apply styles to the entire table */
table {
  width: 100%; 
  border-collapse: collapse; 
  margin: 20px 0; 
}

/* Style the table headers (th) */
th {
  color: #a27784;
  font-size: 20px;
  padding: 10px; 
  text-align: left;
  
}

/* Style the table data cells (td) */
td {
  color: #8b8b8a;
  padding: 10px; 
  font-size: 20px;
  margin: 50px;
  
}

.direction{
  color: red ;
}




  .form-group {
    margin-bottom: 20px; /* Add margin to the bottom of each form group */
  }


  